.modal__close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -43px;
  top: -40px;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .modal__close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -30px;
  }
}
